<div class="fgnp-layout-no-border fgnp-sticky-footer">

<div class="fgnp-globalheader">
  <div class="fgnp-service-bar fgnp-visible-desktop">
    <div class="fgnp-product-name">
      <%= image_tag 'product.png' %>
    </div>
    <div class="fgnp-right">
      <div class="fgnp-logo">
        <%= image_tag 'img/logo.svg' %>
      </div>
    </div>
  </div>
  <div class="fgnp-navbar fgnp-visible-desktop">
    <ul class="fgnp-nav fgnp-left">
      <li class="fgnp-current"><%= link_to 'パスワード変更', ldap_changepassword_path %></li>
    </ul>
  </div>
</div>
