<div class="fgnp-globalfooter">
  <div class="fgnp-row footer">
    <div class="fgnp-col fgnp-sm-08 fgnp-text-left">
      <div style="margin-top: 10px"><%= image_tag 'privacy.png' %></div>
      <!--<%= link_to '個人情報保護ポリシー(日本)', fujitsu_privacy_path, :target=>["_blank"] %>-->
    </div>
    <div class="fgnp-col fgnp-sm-04 fgnp-text-right">
      &copy FUJITSU LIMITED 2016,2017
    </div>
  </div>
</div>
