<%= render 'header' %>

<div class="fgnp-row">
  <div class="fgnp-col fgnp-grid-12">
    <div class="wizard fgnp-panel fgnp-margin-top-standard fgnp-margin-bottom-standard">
      <div class="fgnp-header">
        <h2 class="fgnp-pane-title">新規ユーザー登録完了</h2>
      </div>
      <div class="fgnp-fixed-container" style="max-width:768px;">
        <div class="fgnp-row fgnp-padding-top-standard fgnp-padding-bottom-standard">
          <div class="fgnp-col fgnp-grid-12">
              <h3><%= flash[:notice].html_safe %></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>
